# 'local' if running locally, else nothing
# if you set to 'local', also uncomment local code from db.ts
ENV=

# Database
DB_USER=postgres
DB_PASSWORD=
# Fill if Local Database
DB_HOST=
DB_PORT=
# Fill if External Database
DB_URL=
DB_NAME=

# Server
VITE_BACKEND_PORT=
VITE_BACKEND_HOST=

# Frontend
VITE_FRONTEND_PORT=
VITE_FRONTEND_HOST=

JWT_SECRET=

# Whatsapp
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=